.App {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}



.App-title {
  color: white;
  margin: 0;
  margin-bottom: 15px;
}

.btResolve{
  background-color: #FFF;
  min-height: 50px;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  border-width: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #282c34;
}

.winner{
  background-color: rgb(0, 184, 46);
  color: #ffffff;
}

.tabQueens{
  border: 5px solid #FFF;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  margin: 30px;
  margin-top: 0;
}

.tabRow{
  flex-direction: column;
}

.tabCell{
  height: 45px;
  width: 45px;
  background-color: transparent;
  border: 2px solid #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 1.5rem;
}

.tabCell:hover{
  background-color: rgb(200, 110, 110);
}



